.head-title {
    font-size: 3rem;
    margin-top: 10px;
    color: white;
}

* {
    color: white;
}

body {
    z-index: -100;
}



.box-rotate {
    height: 100px;
    width: 100px;
    border-radius: 10px;
    position: relative; 
    background-color: rgb(10, 10, 10);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    margin-bottom: 150px;
    
}

.box-rotate-para {
    max-width: 100px;
    line-height: 120%;
}

@property --boxRotateAngle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.box-rotate::after, .box-rotate::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    padding: 5px;
    background-image: conic-gradient(from var(--boxRotateAngle), transparent 70%, blue);
    border-radius: 10px;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    animation: boxRotate 3s linear infinite;
}

@keyframes boxRotate {
    from{
        --boxRotateAngle: 0deg;
    }

    to{
        --boxRotateAngle: 360deg;
    }
}

.box-rotate::before {
    filter: blur(1.5rem);    
}

.container{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.dad-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.orange-rotate {
    width: 100px;
    height: 100px;
    background-color: rgb(10,10,10);
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.orange-rotate::after, .orange-rotate::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    background-image: conic-gradient(violet, indigo, blue, green, yellow, orange, red, violet);
    z-index: -1;
    border-radius: 10px;
    padding: 5px;
}

.orange-rotate::before {
    filter: blur(1.5rem);
    opacity: 0.7;
}

.orange-rotate-dad-div {
    position: relative;
    animation: orangeRotate 2s linear infinite;
}

.orange-rotate-dad-div:hover {
    animation-play-state: paused;
}

@keyframes orangeRotate {
    from {

    }

    to {
        transform: rotate(360deg);
    }
}

@property --bodyAnimation {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;

}

body {
    background-color: black;
    padding-top: 0;
}

.button-div {
    margin-top: 150px;
}

.btn-animation {
    padding: 20px 40px;
    border-radius: 10px;
    background-color: rgb(10, 10, 10);
    border: none;
    cursor: pointer;
    position: relative;
}

.btn-animation::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 10px;
    background-image: conic-gradient(violet, indigo, blue, green, yellow, orange, red, violet);
    top: 50%;
    left: 50%;
    translate: -49.8% -50.5%;
    z-index: -1;
    padding: 3px;
    box-shadow: 0px 0px 10px;
}

html {
    border: 10px solid white;
}

.btn-animation:hover::after {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    content: "Haha You see";
}

.green-conic {
    background-color: rgb(10, 10, 10);
    height: 100px;
    width: 100px;
    margin-top: 100px;
    padding: 20px;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 150%;
}

@property --greenLaser {
    syntax: "<angle>";
    inherits: false;
    initial-value: 45deg;
}

.green-conic::after, .green-conic::before {
    content: "";
    width: 100%;
    height: 100%;
    background-image: conic-gradient(from var(--greenLaser),transparent,blue, transparent, green, transparent);
    position: absolute;
    border-radius: 10px;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    padding: 5px;
    z-index: -1;
    animation: greenLaser 3s linear infinite;
}

@keyframes greenLaser {
    from{
        --greenLaser: 45deg;
    }

    to{
        --greenLaser: 405deg;
    }
}

.green-conic::before {
    filter: blur(2rem);
}

.button-dad-container {
    margin-top: 150px;
    height: 400px;
    width: 80vw;
    border: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.showcase-button {
    height: 100px;
    width: 100px;
    background-color: rgb(20, 20, 20);
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    border: 5px solid white;
    box-shadow: 0px 0px 30px;
}

.showcase-button-div {
    display: flex;
    gap: 50px;
}

.btnn-animations {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: rgb(10, 10, 10);
    cursor: pointer !important; 
    border: none;
    position: relative;
    color: pink;
    text-shadow: 0px 0px 10px pink;
}

@property --fourButton {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

.btnn-animations::after, .btnn-animations::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-image: conic-gradient(from var(--fourButton),transparent 70%, pink);
    border-radius: 10px;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    padding: 3px;
    animation: moveFourButtons 3s linear infinite;
}

.btnn-animation::before {
    filter: blur(1.5rem);
}

@keyframes moveFourButtons {
    from {
        --fourButton: 0deg;
    }

    to {
        --fourButton: 360deg;
    }
}

.moveUp {
    animation: showcaseUp 3s linear 1;
}

@keyframes showcaseUp {
    0% {

    }

    50% {
        transform: translateY(-100px);
    }

    100% {

    }
}

.moveDown {
    animation: showcaseDown 3s linear 1;
}

@keyframes showcaseDown {
    0% {

    }

    50% {
        transform: translateY(100px);
    }

    100% {

    }
}

.moveRight {
    animation: showcaseRight 3s linear 1;
}

@keyframes showcaseRight {
    0% {

    }

    50% {
        transform: translateX(100px);
    }

    100% {

    }
}

.moveLeft {
    animation: showcaseLeft 3s linear 1;
}

@keyframes showcaseLeft {
    0% {

    }

    50% {
        transform: translateX(-100px);
    }

    100% {

    }
}

@property --video {
    syntax: "<angle>";
    inherits: false;
    initial-value: 0deg;
}

.video {
    margin-top: 75px;
    background-image: conic-gradient(from var(--video), violet, indigo, blue, green, yellow, orange, red, violet);
    height: max-content;
    width: max-content;
    padding: 8px;
    border-radius: 10px;
    animation: video 5s linear infinite;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

@keyframes video {
    from {
        
    }

    to {
        --video: 360deg;
    }
}

video {
    height: 400px;
    border-radius: 10px;
    border: none;
}

.btn-video {
    padding: 20px 40px;
    border-radius: 20px;
    background-color: transparent;
    border: 2px solid white;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 30px;
}

.video-dad {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.circle {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    margin-top: 50px;
    background-image: radial-gradient(red, orangered, orange, rgb(255, 200, 0), yellow, yellow);
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    text-shadow: 0px 0px 10px;
    margin-bottom: 50px;
}

.circle::after, .circle::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-color: white;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    z-index: -1;
    background-image: radial-gradient(red, orangered, orange, rgb(255, 200, 0), yellow, yellow);
}

.left::after {
    filter: contrast(70%);
    animation: leftt 4s linear 1;
}

@keyframes leftt {
    0% {

    }

    50% {
        transform: translateX(-300px);
    }

    100% {

    }
}

.left::before {
    filter: contrast(70%);
    animation: rightt 4s linear 1;
}

@keyframes rightt {
    0% {

    }

    50% {
        transform: translateX(300px);
    }

    100% {

    }
}

.btn-circle {
    background-color: transparent;
    border: none;
    font-size: 1.25rem;
    cursor: pointer;
}

footer {
    color: lightgreen;
    text-shadow: 0px 0px 10px lightgreen;
}

@media screen and (max-width: 450px) {
    .video {
        height: 200px;
    }

    video {
        height: 200px;
    }

    .showcase-button-div {
        gap: 30px;
    }
}
